[submodule "bssl/boringssl"]
	path = bssl/boringssl
	url = https://boringssl.googlesource.com/boringssl
[submodule "lsquiclib/lsquic"]
	path = lsquiclib/lsquic
	url = https://github.com/alex-paperspace/lsquic


